.nm-mc-form .content {
 background: #E7E7E7;
    border: 1px solid #C8C8C8;
  border-radius: 4px;
  text-align: center;
    margin-top: 20px;
} 
.nm-mc-form .nm-inner {
  padding: 10px;
}

.nm-mc-form .wrapper-form{
  background: rgba(255,255,255,.9);
  width: 250px;
  margin: 0 auto;
    outline: none;
  margin-top: 25px;
}

.widget-text .wrapper-form {
 width: 100% !important;
}

.nm-mc-form #live-form {
 padding: 20px 20px 20px 15px;
 border: none;
}
.nm-mc-form #live-form p {
  margin: 10px;
}
.nm-mc-form .header-text{
  text-align: center;
  padding: 2px 2px;
  background: rgba(248,248,248,.9);
  font-size: 20px;
  font-weight: 300;
  color: #232323;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.nm-mc-form .footer-text{
  text-align: center;
  padding: 2px 2px;
  background: rgba(248,248,248,.9);
  font-size: 20px;
  font-weight: 300;
  color: #232323;
  border-top: 1px solid rgba(0,0,0,.1);
  display: block;
  padding: 15px;
}
.nm-mc-form .header-text h3{
  color: #fff;
}
.nm-mc-form button{
  overflow: hidden;
  margin: 0 auto;   
   padding: 6px; 
  outline: none;
   border: 0;
  border-radius: 0;
   /*font: 300 15px/39px Helvetica, Arial, sans-serif; */
  text-decoration: none;
   color: #fff; 
  cursor: pointer;
  text-shadow: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: none;
  cursor: pointer;
  background-color: #2da5da;
  opacity: 0.8;
  max-width: 150px;
  width: 100%;
  padding: 15px;
}
.nm-mc-form .hover-btn:hover{
    background: #fff;
}
.nm-mc-form h4 {
      font-size: 1em;
      margin: 1.33em 0;
}
.nm-mc-form input[type="text"], .nm-mc-form input[type="email"] {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 39px;
  height: 35px; 
  padding: 5px 7px;
  border-color: #e5e5e5;
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-radius: 0;
  background: #fff;
  font: 15px/19px Helvetica, Arial, sans-serif;
  color: #404040;
  appearance: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.nm-mc-form .btn-div{
  width: 100%;
}
.nm-mc-form table {
  border: 1px solid #C8C8C8;
  padding: 10px;
  border-radius: 4px;
}